<!---Titulo y boton de agregar -->
<div class="container-fluid  mainparam">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
            <h3>BINES Y PREFIJOS</h3>
        </div>
        <div class="col-4 text-right">

            <a class="btn btn-success btn-lg rounded-circle" href="add061">+</a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5>Lista registros - Bines y Prefijos</h5>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th>Binpre </th>
                    <th>Binprepro </th>
                    <th>Clamon </th>
                    <th>Clase </th>
                    <th>Codentumo </th>
                    <th>Codofiumo </th>
                    <th>Codpais </th>
                    <th>Codtermumo</th>
                    <th>Icaent </th>
                    <th>Indrango </th>
                    <th>Longtar </th>
                    <th>Noment </th>
                    <th>Paisent </th>
                    <th>Rangoinf </th>
                    <th>Rangosup </th>
                    <th>Sitcompen </th>
                    <th>Sitent </th>
                    <th>Usuarioumo</th>
                    <th>Contcur </th>
                    <th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mpdt061 of mpdt061s" class="text-center">
                    <td>{{mpdt061.binpre }}</td>
                    <td>{{mpdt061.binprepro }}</td>
                    <td>{{mpdt061.clamon }}</td>
                    <td>{{mpdt061.clase }}</td>
                    <td>{{mpdt061.codentumo }}</td>
                    <td>{{mpdt061.codofiumo }}</td>
                    <td>{{mpdt061.codpais }}</td>
                    <td>{{mpdt061.codtermumo}}</td>
                    <td>{{mpdt061.icaent }}</td>
                    <td>{{mpdt061.indrango }}</td>
                    <td>{{mpdt061.longtar }}</td>
                    <td>{{mpdt061.noment }}</td>
                    <td>{{mpdt061.paisent }}</td>
                    <td>{{mpdt061.rangoinf }}</td>
                    <td>{{mpdt061.rangosup }}</td>
                    <td>{{mpdt061.sitcompen }}</td>
                    <td>{{mpdt061.sitent }}</td>
                    <td>{{mpdt061.usuarioumo}}</td>
                    <td>{{mpdt061.contcur }}</td>
                    <td>
                        <button (click)="Editar061(mpdt061)" class="btn btn-warning">Editar</button>
                        <button (click)="deleteMpdt061(mpdt061)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>