<!---Titulo y boton de agregar -->
<div class="container-fluid  mainparam">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
            <h3>Mpdt061</h3>
        </div>
        <div class="col-4 text-right">

            <a class="btn btn-success btn-lg rounded-circle" href="add061">+</a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5>Lista registros - Mpdt061</h5>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th>Binpre    </th>
                    <th>Binprepro </th>
                    <th>Clamon    </th>
                    <th>Clase     </th>
                    <th>Codentumo </th>
                    <th>Codofiumo </th>
                    <th>Codpais   </th>
                    <th>Codtermumo</th>
                    <th>Icaent    </th>
                    <th>Indrango  </th>
                    <th>Longtar   </th>
                    <th>Noment    </th>
                    <th>Paisent   </th>
                    <th>Rangoinf  </th>
                    <th>Rangosup  </th>
                    <th>Sitcompen </th>
                    <th>Sitent    </th>
                    <th>Usuarioumo</th>
                    <th>Contcur   </th>
                    <th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mpdt061 of mpdt061s" class="text-center">
                    <td>{{mpdt061.Binpre    }}</td>
                    <td>{{mpdt061.Binprepro }}</td>
                    <td>{{mpdt061.Clamon    }}</td>
                    <td>{{mpdt061.Clase     }}</td>
                    <td>{{mpdt061.Codentumo }}</td>
                    <td>{{mpdt061.Codofiumo }}</td>
                    <td>{{mpdt061.Codpais   }}</td>
                    <td>{{mpdt061.Codtermumo}}</td>
                    <td>{{mpdt061.Codtermumo}}</td>
                    <td>{{mpdt061.Icaent    }}</td>
                    <td>{{mpdt061.Indrango  }}</td>
                    <td>{{mpdt061.Longtar   }}</td>
                    <td>{{mpdt061.Noment    }}</td>
                    <td>{{mpdt061.Paisent   }}</td>
                    <td>{{mpdt061.Rangoinf  }}</td>
                    <td>{{mpdt061.Rangosup  }}</td>
                    <td>{{mpdt061.Sitcompen }}</td>
                    <td>{{mpdt061.Sitent    }}</td>
                    <td>{{mpdt061.Usuarioumo}}</td>
                    <td>{{mpdt061.Contcur   }}</td>
                    <td>
                        <button (click)="Editar061(mpdt061)" class="btn btn-warning">Editar</button>
                        <button (click)="deleteMpdt061(mpdt061)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

