  
<div class="container-fluid  mainparam">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
            <h3>Productos</h3>
        </div>
        <div class="col-4 text-right">
          <button (click)="Nuevoprod()"  class="btn btn-success btn-lg rounded-circle">+</button>
         </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        
        <h5>Lista registros - Mpdt043</h5>
        
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th>CODENT</th>
                    <th>PRODUCTO</th>
                    <th>SUBPRODU</th>
                    <th>VERTIENTE</th>
                    <th>CLAMON</th>
                    <th>DESPROD</th>
                    <th>DESPRODRED</th>
                    <th>FECHA ALTA</th>
                    <th>INDRIESGO</th>
                    <th>LIMCRECTAMIN</th>
                    <th>LIMCRECTAMAX</th>
                    <th>LIMCRECOMPMIN</th>
                    <th>LIMCRECOMPMAX</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of producto" class="text-center">
                    <td>
                        <a ng-click="Editarprod(producto)">{{producto.codent}}</a>
                    </td>
                    <td>{{producto.producto}}</td>
                    <td>{{producto.subprodu}}</td>
                    <td>{{producto.vertiente}}</td>
                    <td>{{producto.clamon}}</td>
                    <td>{{producto.desprod}}</td>
                    <td>{{producto.desprodred}}</td>
                    <td>{{producto.fecalta}}</td>
                    <td>{{producto.indriesgo}}</td>
                    <td>{{producto.limcrectamin}}</td>
                    <td>{{producto.limcrectamax}}</td>
                    <td>{{producto.limcrecompmin}}</td>
                    <td>{{producto.limcrecompmax}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>