<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Modificar Datos</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Entidad:</label>
                    <input [(ngModel)]="producto.codent" name="codent" type="text" class="form-control" disabled="true">
                </div>
                <div class="form-group">
                    <label for="">Producto:</label>
                    <input [(ngModel)]="producto.producto" name="producto" type="text" class="form-control" disabled="true">
                </div>
                <div class="form-group">
                    <label for="">Subproducto:</label>
                    <input [(ngModel)]="producto.subprodu" name="subprodu" type="text" class="form-control" disabled="true">
                </div>
                <div class="form-group">
                    <label for="">Vertiente:</label>
                    <input [(ngModel)]="producto.vertiente" name="vertiente" type="text" class="form-control" [attr.maxlength]="1">
                </div>
                <div class="form-group">
                    <label for="">Clamon:</label>
                    <input [(ngModel)]="producto.clamon" name="clamon" type="text" class="form-control" [attr.maxlength]="30">
                </div>
                <div class="form-group">
                    <label for="">Descripción:</label>
                    <input [(ngModel)]="producto.desprod" name="desprod" type="text" class="form-control">
                </div>
                <button (click)="Actualizarprod(producto)" class="btn btn-danger">Actualizar</button>
            </form>
        </div>
    </div>
</div>