<div class="card">
    <div class="card-header">
      <h3>Tarjetas</h3>
      <button (click)="Addtarj()" class="btn btn-warning">Alta MPDT0025</button>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>ENTIDAD</th>
            <th>CODIGO MARCA</th>
            <th>INDICADOR TIPO DE TARJETA</th>
            <th>BIN ENTIDAD TIPO</th>              
            <th>NUMERO DE TARJETA</th>
            <th>BIN PROCESO</th>
            <th>RANGO INFERIOR</th>
            <th>RANGO SUPERIOR</th>
            <th>EXPONENTE</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarjeta of tarjetas" class="text-center">
            <td>{{tarjeta.codent}}</td>
            <td>{{tarjeta.codmar}}</td>
            <td>{{tarjeta.indtipt}}</td>
            <td>{{tarjeta.binenttip}}</td>
            <td>{{tarjeta.numulttar}}</td>
            <td>{{tarjeta.binproc}}</td>
            <td>{{tarjeta.rangoinf}}</td>
            <td>{{tarjeta.rangosup}}</td>
            <td>{{tarjeta.exponente}}</td>
            <td>
              <button (click)="Edittarj(tarjeta)" class="btn btn-warning">Editar</button>
              <button (click)="Deletetarj(tarjeta)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>