<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Agregar Tipo de tarjeta producto</h3>
    </div>
    <div class="card-body">
      <!---->
      <form action="">

        <div class="form-group">

          <label class="mr-sm-2" for="inlineFormCustomSelect">Entidad:</label>
          <select class="custom-select mr-sm-2" id="idEntidad" name="idEntidad" [(ngModel)]="entidadSelect"
            (change)='onOptionsSelected($event)' required>
            <option value="">Seleccione una opción...</option>
            <option [value]="item" *ngFor="let item of lstEntidades">{{item}}</option>
          </select>

        </div>
        <div class="form-group">

          <label class="mr-sm-2" for="inlineFormCustomSelect">Producto:</label>
          <select class="custom-select mr-sm-2" id="producto" name="producto" [(ngModel)]="productoSelect"
            (change)='onOptionsSelectedProd($event)' required>
            <option value="">Seleccione una opción...</option>
            <option [value]="item" *ngFor="let item of lstProductos">{{item}}</option>
          </select>

        </div>

        <div class="form-group">

          <label class="mr-sm-2" for="inlineFormCustomSelect">Subproducto:</label>
          <select class="custom-select mr-sm-2" id="subproducto" name="subproducto" [(ngModel)]="subProductoSelect"
          (change)='onOptionsSelectedMarca($event)' required>
            <option value="">Seleccione una opción...</option>
            <option [value]="item" *ngFor="let item of lstSubProductos">{{item}}</option>
          </select>

        </div>

        <div class="form-group">

          <label class="mr-sm-2" for="inlineFormCustomSelect">Marca:</label>
          <select class="custom-select mr-sm-2" id="codmar" name="codmar" [(ngModel)]="marcasSelect"
          (change)='onOptionsSelectedTpoTarjeta($event)' required>
            <option value="">Seleccione una opción...</option>
            <option [value]="item" *ngFor="let item of lstMarcas">{{item}}</option>
          </select>

        </div>
        <div class="form-group">

          <label class="mr-sm-2" for="inlineFormCustomSelect">Tipo de tarjeta producto:</label>
          <select class="custom-select mr-sm-2" id="indtipt" name="indtipt" [(ngModel)]="tpoTarSelect"
            required>
            <option value="">Seleccione una opción...</option>
            <option [value]="item" *ngFor="let item of lstTpoTarjeta">{{item}}</option>
          </select>

        </div>
        <button (click)="addMpdt088()" class="btn btn-danger">Guardar</button>
      </form>
    </div>
  </div>
</div>