<!---Titulo y boton de agregar -->
<div class="container-fluid  mainparam">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
            <h3>Tipo Tarjeta producto</h3>
        </div>
        <div class="col-4 text-right">

            <a class="btn btn-success btn-lg rounded-circle" href="alta" >+</a>
        </div>
    </div>
</div>
<!--seccion de busqueda-->
<div class="container-fluid mainparam">
    <form>
       
    <!--Poner combos-->

    </form>
</div>

<div class="card">
    <div class="card-header">
        <h5>Lista registros - Mpdt088</h5>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th>CODENT</th>
                    <th>PRODUCTO</th>
                    <th>SUBPRODU</th>
                    <th>CODMAR</th>
                    <th>INDTIPT</th>
                    <th>FECALTA</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mpdt088 of mpdt088s" class="text-center">
                    <td>{{mpdt088.codent}}</td>
                    <td>{{mpdt088.producto}}</td>
                    <td>{{mpdt088.subprodu}}</td>
                    <td>{{mpdt088.codmar}}</td>
                    <td>{{mpdt088.indtipt}}</td>
                    <td>{{mpdt088.fecalta}}</td>
                    <td>
                        <button (click)="editarMpdt088(mpdt088)" class="btn btn-warning">Editar</button>
                        <button (click)="deleteMpdt088(mpdt088)" class="btn btn-danger"
                            style="margin-left: 10px;">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>